@font-face {
    font-family: roboto;
    src: url(../fonts/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: rubik;
    src: url(../fonts/Rubik-VariableFont_wght.ttf);
}

@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}


* {
    box-sizing: border-box;
    font-family: roboto;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
}


.height-100 {
    height: 100%;
}

.text-align-center {
    text-align: center;
}


.color-ed {
    color: #d8ff00;
}

.color-ff {
    color: #edeced;
}

.color-9b {
    color: #9b9b9b;
}


.bg-15 {
    background-color: #151515;
    color: #edeced;
}

.bg-22 {
    background-color: #222222;
    color: #edeced;
}

.bg-ed {
    background-color: #d8ff00;
    color: #151515;
}

.bg-ff {
    background-color: #edeced;
    color: #151515;
}

.bg-img1 {
    background-image: url(../img/portrait0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img2 {
    background-image: url(../img/portrait1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -6vh;
}

.bg-img3 {
    background-image: url(../img/portrait2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 0vh;
}


.title1 {
    font-family: rubik;
    font-weight: 300;
    font-size: 3rem; 
}

.title2 {
    font-family: rubik;
    font-weight: 300;
    font-size: 1.4rem;
}

.title3 {
    font-family: rubik;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
}


.link:hover {
    color: #d8ff00;
}


.link-2 {
    border-radius: 100px;
    padding: 0.7rem 0;
    width: 23rem;
    border: solid 2px #d8ff00;
}

.link-2:hover {
    background-color: #303030;
}


.nav {
    position: fixed;
    top: 0;
    width: 350px;
    height: 100vh;
    padding-top: 3.5rem;
    background-color: #303030;
    transform: translateX(-350px);
    transition: transform 0.3s;
}

@media screen and (min-width: 768px) {
    .nav {
        transform: translateX(-300px);
    }
}

@media screen and (min-width: 1024px) {
    .nav {
        transform: translateX(0);
    }
}

.nav--show {
    transform: translateX(0px);
}


.toggle-menu {
    position: absolute;
    top: 0;
    left: 350px;
    font-size: 1.5rem;
    color: #d8ff00;
    z-index: 100;
}

.toggle-menu:hover {
    cursor: pointer;
}

.toggle-menu__open {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    height: 3rem;
    width: 3rem;
    border-radius: 5rem;
    background-color: #35353590;
}

.toggle-menu__close {
    display: none;
}

@media screen and (min-width: 768px) {
    .toggle-menu {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .toggle-menu {
        display: none;
    }
}

.nav--show .toggle-menu {
    transform: translateX(-340px);
    top: 0;
}

.nav--show .toggle-menu__open {
    display: none;
}

.nav--show .toggle-menu__close {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 0 0.8rem;
    height: 3rem;
    width: 3rem;
    border-radius: 5rem;
    background-color: #353535;
}


.main {
    margin-left: 0;
    height: 100vh;
    background-color: #151515;
    overflow: scroll;
}

@media screen and (min-width: 768px) {
    .main {
        margin-left: 50px;
    }
}

@media screen and (min-width: 1024px) {
    .main {
        margin-left: 350px;
    }
}


.main-menu__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    font-size: 1.2rem;
}

.main-menu__link {
    width: 100%;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 10px;
    background-color: #353535;
    color: #d8ff00;
}

.main-menu__icon {
    margin-right: 0.6rem;
}

@media screen and (min-width: 768px) {
    .main-menu__icon {
        transform: translateX(260px);
        color: #d8ff00;
    }
}

@media screen and (min-width: 1024px) {
    .main-menu__icon {
        transform: translateX(0);
    }
}


.dropdown__toggle {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdown__arrow{
    margin-left: auto;
    transform: rotate(0deg);
    transition: transform 0.5s ease-in-out;
    font-size: 1.5rem !important;
}

.rotated {
    transform: rotate(180deg);
}


.dropdown__content {
    width: 60%;
    margin-left: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-in-out;
}

.dropdown__content--show {
    max-height: 160px;
}

.dropdown__item {
    display: flex;
    margin-top: 15px;
    border-radius: 10px;
    background-color: #353535;
}

.dropdown__link {
    font-size: 1rem;
    color: #d8ff00;
    width: 100%;
    text-align: center;
    padding: 1rem;
}


@media screen and (max-width: 767px) {
    .bg-img1, .bg-img2, .bg-img3 {
        display: none;
    }
}


section {
    display: flex;
    flex-direction: column;
    min-height: calc(var(--vh));
    max-height: fit-content;
    padding: 5%;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}


.logo {
    width: 145px;
}


.rrss {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.rrss__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    border: 2px solid #00000000;
    border-radius: 5rem;
}

.rrss__item:hover {
    border-color: #d8ff00;
}

.rrss__icon {
    color: #d8ff00;
    font-size: 1.7rem !important;
}

.card {
    height: 100%;
    border-radius: 0.5rem;
    padding: 1rem 3rem;
    margin: 1rem 0;
}


iframe {
    border-radius: 1.5vh;
}

.map {
    height: calc(var(--vh)*0.4);
    width: 100%;
}