@font-face {
    font-family: roboto;
    src: url(../fonts/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: rubik;
    src: url(../fonts/Rubik-VariableFont_wght.ttf);
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: roboto;
    text-decoration: none;
}

.bg-15 {
    background-color: #151515;
    color: #edeced;
}

.bg-22 {
    background-color: #222222;
    color: #edeced;
}

.bg-ed {
    background-color: #d8ff00;
    color: #151515;
}

.bg-ff {
    background-color: #edeced;
    color: #151515;
}

.link:hover {
    color: #d8ff00;
}

.color-ed {
    color: #d8ff00;
}

.color-ff {
    color: #edeced;
}

.color-9b {
    color: #9b9b9b;
}

.bg-img1 {
    background-image: url(../img/portrait0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img2 {
    background-image: url(../img/portrait1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -6vh;
}

.bg-img3 {
    background-image: url(../img/portrait2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 0vh;
}

iframe {
    border-style: none;
    border-radius: 1.5vh;
}

/* Media query para teléfonos en orientación vertical */
@media screen and (max-width: 767px) {
    /* Estilos específicos para teléfonos en orientación vertical */

    header, .bg-img1, .bg-img2, .bg-img3 {
        display: none;
    }

    .flex {
        display: flex;
    }

    .col-mvl {
        flex-direction: column;
    }

    .text-center {
        text-align: center;
    }

    .text-center-mvl {
        text-align: center;
    }

    .align-center {
        align-items: center;
    }

    .align-end {
        height: 100%;
        align-items: end;
    }

    .justify-evenly {
        justify-content: space-evenly;
    }

    .justify-between {
        justify-content: space-between;
    }

    .justify-start {
        justify-content: start;
    }

    .justify-center {
        justify-content: center;
    }

    .justify-center-mvl {
        justify-content: center;
    }

    .fixed {
        width: 100%;
        position: fixed;
    }

    .ma-0 {
        margin: 0;
    }

    .ma-top-1 {
        margin-top: 2rem;
    }

    .ma-bot-1 {
        margin-bottom: 1rem;
    }

    .pa-0 {
        padding: 0;
    }

    .pa-1-mvl {
        padding: 2rem 2rem 5rem 2rem;
    }

    .pa-2-mvl {
        padding: 2rem;
    }

    h1 {
        font-size: 3rem;
        font-family: rubik;
        font-weight: 300;
    }

    h3, .title3 {
        font-size: 1.5rem;
        font-family: rubik;
        font-weight: 300;
    }

    h2 {
        font-size: 1.5rem;
        font-family: rubik;
        font-weight: 400;
        letter-spacing: 0.5rem;
    }

    section {
        width: 100%;
        height: fit-content;
    }

    .section-special {
        height: calc(var(--vh));
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .container {
        height: 100%;
        margin: 1%;
    }
    
    .logo {
        height: 180px;
    }
    
    .rrss {
        width: 100%;
    }

    .rrss div {
        height: 4.5rem;
        width: 4.5rem;
        border: 2px solid #00000000;
        border-radius: 5rem;
    }
    
    .rrss div:hover {
        border-color: #d8ff00;
    }

    .fa {
        color: #d8ff00;
        font-size: 2.3rem !important;
    }

    .card {
        height: 100%;
        border-radius: 0.5rem;
        padding: 1rem 3rem;
        margin: 1rem 0;
    }
}

/* Media query para tablets en orientación vertical */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* Estilos específicos para tablets en orientación vertical */

    header, .bg-img1, .bg-img2, .bg-img3 {
        display: none;
    }

    .flex {
        display: flex;
    }

    .col-mvl {
        flex-direction: column;
    }

    .text-center {
        text-align: center;
    }

    .text-center-mvl {
        text-align: center;
    }

    .align-center {
        align-items: center;
    }

    .align-end {
        height: 100%;
        align-items: end;
    }

    .justify-evenly {
        justify-content: space-evenly;
    }

    .justify-between {
        justify-content: space-between;
    }

    .justify-start {
        justify-content: start;
    }

    .justify-center {
        justify-content: center;
    }

    .justify-center-mvl {
        justify-content: center;
    }

    .fixed {
        width: 100%;
        position: fixed;
    }

    .ma-0 {
        margin: 0;
    }

    .pa-0 {
        padding: 0;
    }

    .pa-1-mvl {
        padding: 2rem;
    }

    h1 {
        font-size: 3rem;
        font-family: rubik;
        font-weight: 300;
    }

    h3, .title3 {
        font-size: 1.5rem;
        font-family: rubik;
        font-weight: 300;
    }

    h2 {
        font-size: 1.5rem;
        font-family: rubik;
        font-weight: 400;
        letter-spacing: 0.5rem;
    }

    section {
        width: 100%;
        height: fit-content;
    }

    .section-special {
        height: 100vh;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .container {
        height: 100%;
        margin: 1%;
    }
    
    .logo {
        height: 180px;
    }
    
    .rrss {
        width: 100%;
    }

    .rrss div {
        height: 4.5rem;
        width: 4.5rem;
        border: 2px solid #00000000;
        border-radius: 5rem;
    }
    
    .rrss div:hover {
        border-color: #d8ff00;
    }

    .fa {
        color: #d8ff00;
        font-size: 2.3rem !important;
    }

    .events li {
        margin: 2.5rem 0;
    }

    .card {
        height: 100%;
        border-radius: 0.5rem;
        padding: 1rem 4rem;
        margin: 1rem 0;
    }
}

/* Media query para PCs en orientación vertical */
@media screen and (min-width: 1024px) {
    /* Estilos específicos para PCs en orientación vertical */

    .flex {
        display: flex;
    }

    .col {
        flex-direction: column;
    }

    .text-center {
        text-align: center;
    }

    .align-center {
        align-items: center;
    }

    .align-end {
        height: 100%;
        align-items: end;
    }

    .justify-evenly {
        justify-content: space-evenly;
    }

    .justify-between {
        justify-content: space-between;
    }

    .justify-start {
        justify-content: start;
    }

    .justify-center {
        justify-content: center;
    }

    .relative {
        position: relative;
    }

    .absolute {
        position: absolute;
    }

    .fixed {
        width: 100%;
        position: fixed;
    }

    .bottom {
        bottom: 10vh;
    }

    .bottom-2 {
        bottom: 17vh;
    }

    .ma-0 {
        margin: 0;
    }

    .pa-0 {
        padding: 0;
    }

    .pa-1 {
        padding: 5vh;
    }

    .pa-2 {
        padding: 10vh;
    }

    .pa-2-pc {
        padding: 10vh;
    }

    h1 {
        font-size: 5rem;
        font-family: rubik;
        font-weight: 300;
    }

    h3, .title3 {
        font-size: 2rem;
        font-family: rubik;
        font-weight: 300;
    }

    h2 {
        font-size: 2rem;
        font-family: rubik;
        font-weight: 400;
        letter-spacing: 0.5rem;
    }

    section {
        width: 100%;
        height: 100vh;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    header {
        height: 6vh;
    }

    nav {
        height: 6vh;
    }

    nav div {
        height: 6vh;
        width: 25vh;
        font-size: 1.1rem;
        border: 3px solid #d8ff00;
    }

    nav div:hover {
        border-bottom: 3px solid #222222;
    }

    nav a {
        display: block;
        color: #151515;
    }

    .container {
        width: 50%;
        height: 100%;
        padding: 10vh;
    }
    
    .logo {
        height: 30vh;
    }
    
    .rrss {
        width: 70%;
    }

    .rrss div {
        height: 4.5rem;
        width: 4.5rem;
        border: 2px solid #00000000;
        border-radius: 5rem;
    }
    
    .rrss div:hover {
        border-color: #d8ff00;
    }

    .fa {
        color: #d8ff00;
        font-size: 2.3rem !important;
    }

    .events li {
        margin: 5vh;
    }

    .card {
        height: 100%;
        width: 30%;
        border-radius: 1vh;
    }
}