<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Card Slider</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/style-generals.css">
    <link rel="stylesheet" href="../../css/cards.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body class="bg-15">
    <div class="slider">
        <div class="slides flex">
            <div id="slides1" class="slide flex col align-items-center justify-content-between">
                <div class="flex col gap-1">
                    <h3 class="title2-tickets">Básica</h3>
                    <h1 class="title1-tickets">5€</h1>
                    <ul class="flex col gap-0">
                        <li class="flex align-items-center gap-0">
                            <i class="fa fa-check check-list__icon" aria-hidden="true"></i>
                            <a>Acceso durante 1 día</a>
                        </li>
                        <li class="flex align-items-center gap-0">
                            <i class="fa fa-check check-list__icon" aria-hidden="true"></i>
                            <a>Entrada para el graderio</a>
                        </li>
                        <li class="flex align-items-center gap-0">
                            <i class="fa fa-check check-list__icon" aria-hidden="true"></i>
                            <a>Pulsera identificativa</a>
                        </li>
                        <li class="flex align-items-center gap-0">
                            <i class="fa fa-close check-list__icon" aria-hidden="true"></i>
                            <a>Consumición</a>
                        </li>
                        </li>
                        <li class="flex align-items-center gap-0">
                            <i class="fa fa-close check-list__icon" aria-hidden="true"></i>
                            <a>Bocadillo</a>
                        </li>
                    </ul>
                </div>
                <a href="" class="button flex justify-content-evenly align-items-center gap-0">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>COMPRAR
                </a>
            </div>
            <div id="slides2" class="slide flex col align-items-center justify-content-between">
                <div class="flex col gap-1">
                    <h3 class="title2-tickets">Doble</h3>
                    <h1 class="title1-tickets">8€</h1>
                    <ul class="flex col gap-0">
                        <li class="flex align-items-center gap-0">
                            <i class="fa fa-check check-list__icon" aria-hidden="true"></i>
                            <a>Acceso durante 2 días</a>
                        </li>
                        <li class="flex align-items-center gap-0">
                            <i class="fa fa-check check-list__icon" aria-hidden="true"></i>
                            <a>Entrada para el graderio</a>
                        </li>
                        <li class="flex align-items-center gap-0">
                            <i class="fa fa-check check-list__icon" aria-hidden="true"></i>
                            <a>Pulsera identificativa</a>
                        </li>
                        <li class="flex align-items-center gap-0">
                            <i class="fa fa-close check-list__icon" aria-hidden="true"></i>
                            <a>Consumición</a>
                        </li>
                        </li>
                        <li class="flex align-items-center gap-0">
                            <i class="fa fa-close check-list__icon" aria-hidden="true"></i>
                            <a>Bocadillo</a>
                        </li>
                    </ul>
                </div>
                <a href="" class="button flex justify-content-evenly align-items-center gap-0">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>COMPRAR
                </a>
            </div>
            <div id="slides3" class="slide flex col align-items-center justify-content-between">
                <div class="flex col gap-1">
                    <h3 class="title2-tickets">Triple</h3>
                    <h1 class="title1-tickets">10€</h1>
                    <ul class="flex col gap-0">
                        <li class="flex align-items-center gap-0">
                            <i class="fa fa-check check-list__icon" aria-hidden="true"></i>
                            <a>Acceso durante 3 días</a>
                        </li>
                        <li class="flex align-items-center gap-0">
                            <i class="fa fa-check check-list__icon" aria-hidden="true"></i>
                            <a>Entrada para el graderio</a>
                        </li>
                        <li class="flex align-items-center gap-0">
                            <i class="fa fa-check check-list__icon" aria-hidden="true"></i>
                            <a>Pulsera identificativa</a>
                        </li>
                        <li class="flex align-items-center gap-0">
                            <i class="fa fa-close check-list__icon" aria-hidden="true"></i>
                            <a>Consumición</a>
                        </li>
                        </li>
                        <li class="flex align-items-center gap-0">
                            <i class="fa fa-close check-list__icon" aria-hidden="true"></i>
                            <a>Bocadillo</a>
                        </li>
                    </ul>
                </div>
                <a href="" class="button flex justify-content-evenly align-items-center gap-0">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>COMPRAR
                </a>
            </div>
        </div>
        <div class="slider-nav flex align-items-center justify-content-around">
            <a class="slider-navlink" href="#slides1">
                <div>1</div>
            </a>
            <a class="slider-navlink" href="#slides2">
                <div>2</div>
            </a>
            <a class="slider-navlink" href="#slides3">
                <div>3</div>
            </a>
        </div>
    </div>
</body>

</html>